* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h5 {
  font-family: Helvetica;
  font-weight: : 200;
}

div .button {
  font-family: Helvetica;
  font-weight: 800;
  font-size: 4vh;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  height: 80vh;
  color: white;
  box-shadow: 7px 7px 5px gray;
  margin: 50% 0 50% 0;
}

.button {
  width: 25%;
  border: 1px solid rgb(181,220,176);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-color: rgb(97,179,79);
}

.equal {
  width: 25%;
  border: 1px solid rgb(181,220,176);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-color: rgb(97,179,79);
  font-family: Helvetica;
  font-weight: 800;
  font-size: 4vh;
}

.clear:hover, .equal:hover {
  background-color: rgb(130,194,118);
}

.display {
  width: 75%;
  border: 1px solid rgb(181,220,176);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5%;
  background-color: rgb(97,179,79);
  font-family: Helvetica;
  font-weight: 800;
  font-size: 4vh;
}

h1 .display {
  margin: 0;
}
div .top {
  width: 50%;
  background-color: rgb(130,194,118);
  color: rgb(65,97,56);
}

div .side{
  background-color: rgb(130,194,118);
  color: rgb(65,97,56);
}

footer {
  padding: 5%;
}

.top:hover, .side:hover {
  color: white;
}
